
:root {
    
    --step--2: clamp(0.78rem, calc(0.71rem + 0.38vw), 1.00rem);
    --step--1: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.25rem);
    --step-0: clamp(1.13rem, calc(0.97rem + 0.76vw), 1.56rem);
    --step-1: clamp(1.35rem, calc(1.14rem + 1.05vw), 1.95rem);
    --step-2: clamp(1.62rem, calc(1.33rem + 1.43vw), 2.44rem);
    --step-3: clamp(1.94rem, calc(1.56rem + 1.93vw), 3.05rem);
    --step-4: clamp(2.33rem, calc(1.82rem + 2.58vw), 3.82rem);
    --step-5: clamp(2.80rem, calc(2.11rem + 3.42vw), 4.77rem);
    /* --Mfont:'Space Mono' , monospace; */
    --Logo-font:'Nabla', cursive;
    --Mcolor: #fff;
    --Color-Gradient: linear-gradient(to right, #009688 , #52df58);
}

*::selection {
    
    background-color: hsl(229, 57%, 11%);
    color: #fff;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline: 1px solid greenyellow; */
}

/** Framework */

.container {

    margin: 0 auto;
    padding: 0 15px;
}

/* Small */

@media (min-width: 768px) {
  
    .container {
        width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {

    .container {
        width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {

    .container {
        width: 1170px;
  }
}

a {

    text-decoration: none;
    color: var(--Mcolor);
}

.flex {

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {

    font-size: var(--step-5);
    color: var(--Mcolor);
    text-align: center;
}

.sec {

    color: var(--Mcolor);
    padding: 5em 0;
}

.link {
    
    color: transparent !important;
    background-image: linear-gradient(to right, #009688 , #52df58);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
}

.link:hover {

    color: #52df58a8 !important;
}

.mark::after {
    
    content: 'check';
    position: absolute;
    left: -48px;
    top: 5px;
    font-size: 16px;
    text-align: center;
    width: 160px;
    background-color: #FFD700;
    color: #333;
    transform: rotate(-25deg);
}

/** The Styling  */

body , html {

    overflow-x: hidden;
}

body {
    
    min-height: 100vh;
    background-color: hsl(229, 57%, 11%);
    font-size: var(--step-0);
    font-family: monospace;
}

@media (max-width: 380px) {
    
    body {
        font-size: var(--step--2);
    }
}

/* Header */

header {

    padding: 20px;
    background-color: hsl(229, 57%, 11%);
}

header main.header {

    display: flex;
    justify-content: space-between;
}

header main.header > p {

    font-family: var(--Logo-font);
    color: var(--Mcolor);
    font-weight: bold;
    font-size: var(--step-1);
}

header main.header > div{

    font-size: var(--step--2);
}

header main.header > div a {
    
    margin-left: 10px;
}

header main.header > div a:hover {

    color: #ffffffbd;
}

/* Landing  */

.landing {

    height: calc(100vh - 82.5px);
    color: var(--Mcolor);
    background-image: url(images/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing > div {

    max-width: 320px;
    row-gap: 8px;
    display: flex;
    flex-wrap: wrap;
}

.landing > div p:first-of-type {

    font-size: var(--step-5);
}

.landing > div  p:last-of-type {

    font-size: var(--step--2);
    text-align: center;
}

@media (max-width: 769px) {

    .landing {
        background-image: url(images/bg-mobile.png);
    }
    .landing > div {
        text-align: center;
    }
    .landing > div > p {
        margin: 0 auto;
    }
}

/* Skills  */

.skills > main {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.skills > main .info ,
.skills > main .bars {

    width: 50%;
}

.skills > main .info .title-skills {

    font-size: var(--step-4);
    margin-bottom: 0.3em;
}

.skills > main .info p:last-of-type {

    font-size: var(--step--2);
    max-width: 360px;
}

.skills .bars {

    gap: 50px;
    display: flex;
    flex-direction: column;
}

.skills .bars .bar {
    
    width: 100%;
    background-color: hsl(229, 57%, 11%);
    height: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    outline: 1px solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.skills .bars .bar::after {

    position: absolute;
    left: 8px;
    top: -42px;
    font-weight: bold;
}

.skills .bars .html::after {

    content: "HTML";
}

.skills .bars .css::after {

    content: "CSS";
}

.skills .bars .tt::after {

    content: "Touch Typing";
}

.skills .bars .bar span {
    
    display: inline-block;
    height: 95%;
    border-radius: 20px;
    background-image: var(--Color-Gradient);
    margin-left: 2px;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bars .bar:hover span {
   
    animation: bar;
    -webkit-animation: bar;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.skills .bars .html span {

    width: 90%;
}

.skills .bars .css span {

    width: 85%;
}

.skills .bars .tt span {

    width: 70%;
}

.skills .bars .bar span::after {
    
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    bottom: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 769px) {
	
	.skills > main .info {
		text-align: center;
	}
	.skills {
        font-size: 10px;
	}
	.skills > main {
        flex-direction: column;
        gap: 100px;
	}
	.skills .bars .bar::after {
		left: 3px;
		top: -30px;
		font-size: var(--step-0);
	}
    .skills > main .info ,
    .skills > main .bars {
        width: 100%;
    }
    .skills > main .info p:last-of-type {
        margin: 0 auto;
    }
}

@keyframes bar {
    
    0%{
        width: 1%;
    }
}

/* Projects  */

.projects {

    background-image: url(images/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.projects > main {
   
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.projects .cards {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px 20px;
}

.projects .cards .card {
   
    width: 300px;
    overflow: hidden;
    background-color: hsl(216, 50%, 16%);
    border-radius: 7px;
    margin: 0 auto;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.projects .cards .card:hover {
    
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.projects .cards .more {
  
    filter: invert(1);
    position: relative;
    -webkit-filter: invert(1);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.projects .cards .more:hover {

    outline: 4px solid #03A9F4;
    transform: none;
}

.projects .cards .more span {
   
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    gap: 13px;
    color: red;
    font-size: 3rem;
    background-color: #fff;
    padding: 9px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.projects .cards .more .icon {

    color: #000;
}

.projects .cards .card .info-card {

    display: flex;
    justify-content: space-between;
    font-size: .7em;
    padding: 10px;
}

.projects .cards .card .info-card .icon {

    color: #009688;
}

.projects .cards .card img {
    
    width: 100%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

/* Contact */

.contact > main {
	
    gap: 100px;
    display: flex;
    flex-direction: column;
}

.contact > main .con {
		
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact .con .info {

    display: flex;
    justify-content: center;
    gap: 35px;
}

@media (max-width: 769px) {
    
    .contact .con .info {
		
		align-items: center;
		flex-direction: column;
	}
}

.contact .con .info * {
	
    border: 3px #333 solid;
    width: fit-content;
    border-radius: 23px;
    padding: 10px 20px;
}

.contact .con .icons {

    display: flex;
    justify-content: center;
    gap: 15px;
}

.contact .con .icons a {

    font-size: var(--step-2);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.contact .con .icons a:hover {

    transform: scale(1.09) rotate(-5deg);
    -webkit-transform: scale(1.09) rotate(-5deg);
    -moz-transform: scale(1.09) rotate(-5deg);
    -ms-transform: scale(1.09) rotate(-5deg);
    -o-transform: scale(1.09) rotate(-5deg);
}

/* Footer  */

footer {
   
    font-size: var(--step--1);
    padding: 10px 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16px 0 !important;
    position: relative;
}

footer::before {

    content: "==========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================";
    width: 90%;
    height: 4px;
    left: -3vw;
    position: absolute;
    top: -30px;
}

@media (max-width: 385px) {
    
    footer {
        font-size: var(--step--2);
    }  
}

footer > main {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

@media (max-width: 769px) {
    footer > main {
        flex-direction: column;
        gap: 4px;
    }  
}

footer > main p:last-of-type {

    display: flex;
    gap: 10px;
    align-items: center;
}

footer > main p:last-of-type > span {

    font-size: var(--step-1);
}


/* Media To Very Small Screens  */

@media (max-width: 281px) {
    
    header main.header > p {
        font-size: 13px;
    }
    header main.header > div {
        font-size: 10px;
    }
    .projects .cards .card {
        width: 240px;
		margin: 0;
    }
    footer {
        font-size: 10px;
    }
}


/* todo  ============================  The All Project Page ============================ */

.body-2 {

    background-image: url(images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;

}

.header-back {

    padding: 20px;
    background-color: hsl(229, 57%, 11%);

}

.header-back a {

    display: flex;
    align-items: center;
    gap: 20px;
}

.projects-2 {

    padding: 4rem 0;
}