@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500;1000&display=swap");
:root {
  --step--2: clamp(0.78rem, calc(0.71rem + 0.38vw), 1rem);
  --step--1: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.25rem);
  --step-0: clamp(1.13rem, calc(0.97rem + 0.76vw), 1.56rem);
  --step-1: clamp(1.35rem, calc(1.14rem + 1.05vw), 1.95rem);
  --step-2: clamp(1.62rem, calc(1.33rem + 1.43vw), 2.44rem);
  --step-3: clamp(1.94rem, calc(1.56rem + 1.93vw), 3.05rem);
  --step-4: clamp(2.33rem, calc(1.82rem + 2.58vw), 3.82rem);
  --step-5: clamp(2.8rem, calc(2.11rem + 3.42vw), 4.77rem);
  /* --Mfont:'Space Mono' , monospace; */
  --Logo-font: "Nabla", cursive;
  --Mcolor: #fff;
  --Color-Gradient: linear-gradient(to right, #009688, #52df58);
  --main-color: hsl(229, 57%, 11%);
}

*::selection {
  background-color: var(--main-color);
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid greenyellow; */
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-image: var(--Color-Gradient);
}

::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

/** Framework */

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

a {
  text-decoration: none;
  color: var(--Mcolor);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: var(--step-5);
  color: var(--Mcolor);
  text-align: center;
}

.sec {
  color: var(--Mcolor);
  padding: 5em 0;
}

.link {
  color: transparent !important;
  background-image: linear-gradient(to right, #009688, #52df58);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
}

.link:hover {
  color: #52df58a8 !important;
}

.mark::after {
  content: "check";
  position: absolute;
  left: -48px;
  top: 5px;
  font-size: 16px;
  text-align: center;
  width: 160px;
  background-color: #ffd700;
  color: #333;
  transform: rotate(-25deg);
}

.gif-mark::before {
  content: "";
  background-image: url(images/diamond.gif);
  background-size: cover;
  width: 40px;
  display: inline-block;
  height: 40px;
  position: absolute;
  top: 4px;
  left: 5px;
  box-shadow: 2px 4px 6px #00000054;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* animation: gif-mark 3s infinite linear; 
    -webkit-animation: gif-mark 3s infinite linear; */
}

/* @keyframes gif-mark {
    33% {
        filter: invert(1);
        -webkit-filter: invert(1);
    }
    66% {
        filter: sepia(1);
        -webkit-filter: sepia(1);
    }
    99% {
        filter: none;
        -webkit-filter: none;
    }
    100% {
        filter: invert(1);
        -webkit-filter: invert(1);
    }
} */
.logo_dragon {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  bottom: -14px;
  left: 2vw;
  animation: dr;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo_dragon > .icon {
  width: 50vw;
  flex: 0;
}

@keyframes dr {
  50% {
    margin-bottom: 5px;
  }
  100% {
    margin-bottom: 0;
  }
}

/* THe Switcher */

.switch {
  display: block;
  background-color: black;
  width: 110px;
  height: 125px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0 1px 2px black,
    inset 0 2px 2px -2px white, inset 0 0 2px 15px #47434c,
    inset 0 0 2px 22px black;
  border-radius: 5px;
  padding: 20px;
  perspective: 700px;
}

.switch input {
  display: none;
}

.switch input:checked + .button {
  transform: translateZ(20px) rotateX(25deg);
  box-shadow: 0 -10px 20px #ff1818;
}

.switch input:checked + .button .light {
  animation: flicker 0.2s infinite 0.3s;
}

.switch input:checked + .button .shine {
  opacity: 1;
}

.switch input:checked + .button .shadow {
  opacity: 0;
}

.switch .button {
  display: block;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  transform-origin: center center -20px;
  transform: translateZ(20px) rotateX(-25deg);
  transform-style: preserve-3d;
  background-color: #9b0621;
  height: 100%;
  position: relative;
  cursor: pointer;
  background: linear-gradient(
    #980000 0%,
    #6f0000 30%,
    #6f0000 70%,
    #980000 100%
  );
  background-repeat: no-repeat;
}

.switch .button::before {
  content: "";
  background: linear-gradient(
        rgba(255, 255, 255, 0.8) 10%,
        rgba(255, 255, 255, 0.3) 30%,
        #650000 75%,
        #320000
      )
      50% 50%/97% 97%,
    #b10000;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: rotateX(-90deg);
  position: absolute;
  top: 0;
}

.switch .button::after {
  content: "";
  background-image: linear-gradient(#650000, #320000);
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: translateY(50px) rotateX(-90deg);
  position: absolute;
  bottom: 0;
  box-shadow: 0 50px 8px 0px black, 0 80px 20px 0px rgba(0, 0, 0, 0.5);
}

.switch .light {
  opacity: 0;
  animation: light-off 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#ffc97e, #ff1818 40%, transparent 70%);
}

.switch .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 30%, rgba(101, 0, 0, 0.7) 70%);
  background-size: 10px 10px;
}

.switch .characters {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, white) 50% 20%/5% 20%,
    radial-gradient(
        circle,
        transparent 50%,
        white 52%,
        white 70%,
        transparent 72%
      )
      50% 80%/33% 25%;
  background-repeat: no-repeat;
}

.switch .shine {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%,
    linear-gradient(
        rgba(255, 255, 255, 0.5),
        transparent 50%,
        transparent 80%,
        rgba(255, 255, 255, 0.5)
      )
      50% 50%/97% 97%;
  background-repeat: no-repeat;
}

.switch .shadow {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes light-off {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}

/** The Styling  */

body,
html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: var(--main-color);
  font-size: var(--step-0);
  font-family: monospace;
}

@media (max-width: 380px) {
  body {
    font-size: var(--step--2);
  }
}

/* Header */

header {
  padding: 20px;
  background-color: var(--main-color);
  position: relative;
}

header main.header {
  display: flex;
  justify-content: space-around;
}

header main.header p.logo {
  font-family: var(--Logo-font);
}

header main.header div.content {
  font-size: var(--step--2);
  width: 80%;
  justify-content: space-evenly !important;
}

header main.header > div a {
  margin-left: 10px;
}

header main.header > div a:hover {
  color: #ffffffbd;
}

/* Landing  */

.landing {
  height: calc(100vh - 82.5px);
  color: var(--Mcolor);
  position: relative;
  background-image: url(images/bg-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.landing > div {
  max-width: 320px;
  row-gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.landing > div p:first-of-type {
  font-size: var(--step-5);
}

.landing > div p:last-of-type {
  font-size: var(--step--2);
  text-align: center;
}

@media (max-width: 769px) {
  .landing {
    background-image: url(images/bg-mobile.png);
  }
  .landing > div {
    text-align: center;
  }
  .landing > div > p {
    margin: 0 auto;
  }

  header main.header {
    flex-direction: column;
    align-items: center;
  }
}

/* Skills  */

.skills > main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.skills > main .info,
.skills > main .bars {
  width: 50%;
}

.skills > main .info .title-skills {
  font-size: var(--step-4);
  margin-bottom: 0.3em;
}

.skills > main .info p:last-of-type {
  font-size: var(--step--2);
  max-width: 360px;
}

.skills .bars {
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.skills .bars .bar {
  width: 100%;
  background-color: var(--main-color);
  height: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  outline: 1px solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.skills .bars .bar::after {
  position: absolute;
  left: 8px;
  top: -42px;
  font-weight: bold;
}

.skills .bars .html::after {
  content: "HTML";
}

.skills .bars .css::after {
  content: "CSS";
}

.skills .bars .js::after {
  content: "JS";
}

.skills .bars .tt::after {
  content: "Touch Typing";
}

.skills .bars .bar span {
  display: inline-block;
  height: 95%;
  border-radius: 20px;
  background-image: var(--Color-Gradient);
  margin-left: 2px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bars .bar:hover span {
  animation: bar;
  -webkit-animation: bar;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.skills .bars .html span {
  width: 90%;
}

.skills .bars .css span {
  width: 85%;
}

.skills .bars .js span {
  width: 25%;
}

.skills .bars .tt span {
  width: 70%;
}

.skills .bars .bar span::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  bottom: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 769px) {
  .skills > main .info {
    text-align: center;
  }
  .skills {
    font-size: 10px;
  }
  .skills > main {
    flex-direction: column;
    gap: 100px;
  }
  .skills .bars .bar::after {
    left: 3px;
    top: -30px;
    font-size: var(--step-0);
  }
  .skills > main .info,
  .skills > main .bars {
    width: 100%;
  }
  .skills > main .info p:last-of-type {
    margin: 0 auto;
  }
  .skills .bars .bar {
    height: 15px;
  }
  .skills .bars .bar span::after {
    display: none !important;
  }
}

@keyframes bar {
  0% {
    width: 1%;
  }
}

/* Projects  */

.projects {
  background-image: url(images/bg-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.projects > main {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 20px;
}

.projects .cards .card {
  width: 300px;
  overflow: hidden;
  background-color: hsl(216, 50%, 16%);
  border-radius: 7px;
  margin: 0 auto;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.projects .cards .card:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.projects .cards .more {
  filter: invert(1);
  position: relative;
  -webkit-filter: invert(1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.projects .cards .more:hover {
  outline: 4px solid #03a9f4;
  transform: none;
}

.projects .cards .more span {
  position: absolute;
  left: 50%;
  height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: red;
  width: 80%;
  text-align: center;
  font-size: 2rem;
  background-color: #fff;
  padding: 9px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.projects .cards .more .icon {
  color: #000;
}

.projects .cards .card .info-card {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 10px;
}

.projects .cards .card .info-card .icon {
  color: #009688;
}

.projects .cards .card img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* Contact */

.contact > main {
  gap: 100px;
  display: flex;
  flex-direction: column;
}

.contact > main .con {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact form {
  display: flex;
  width: 90%;
  margin-inline: auto;
  gap: 2em;
  border-bottom: 1px solid #fff6;
  padding-bottom: 3rem;
}

.contact form .user_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact form ._go textarea,
.contact form .user_info input {
  font-family: "Cairo", sans-serif;
  letter-spacing: 1px;
}

.contact form ._go textarea::placeholder,
.contact form .user_info input::placeholder {
  color: #000;
}

.contact form ._go textarea:focus-visible,
.contact form .user_info input:focus-visible {
  outline: 3px dotted #2196f3;
}

.contact form .user_info input {
  padding: 10px 10px 10px 25px;
  border: 0;
  box-shadow: 5px 8px 0 0 #4caf50;
}

.contact form ._go {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

.contact form ._go textarea {
  padding: 10px 10px 10px 25px;
  resize: none;
  height: 150px;
  border: 0;
  box-shadow: 5px 8px 0 0 #4caf50;
}

.contact form ._go button {
  border: 0;
  border-radius: 7px;
  padding: 10px 0;
  background-image: var(--Color-Gradient);
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 769px) {
  .contact form {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .contact form ._go,
  .contact form .user_info {
    width: 100% !important;
    gap: 3rem;
  }
  .contact form ._go textarea,
  .contact form .user_info input {
    box-shadow: 4px 7px 0 0 #4caf50;
  }
}

.contact .con .info {
  display: flex;
  justify-content: center;
  gap: 35px;
}

@media (max-width: 769px) {
  .contact .con .info {
    align-items: center;
    flex-direction: column;
  }
}

.contact .con .info * {
  border: 3px #333 solid;
  border-radius: 50px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5rem;
}

.contact .con .info p {
  width: fit-content;
  padding-inline: 2em !important;
}

.contact .con .icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.contact .con .icons a {
  font-size: var(--step-2);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.contact .con .icons a:hover {
  transform: scale(1.09) rotate(-5deg);
  -webkit-transform: scale(1.09) rotate(-5deg);
  -moz-transform: scale(1.09) rotate(-5deg);
  -ms-transform: scale(1.09) rotate(-5deg);
  -o-transform: scale(1.09) rotate(-5deg);
}

/* Footer  */

footer {
  font-size: var(--step--1);
  padding: 10px 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px 0 !important;
  position: relative;
}

footer::before {
  content: "==========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================";
  width: 90%;
  height: 4px;
  left: -3vw;
  position: absolute;
  top: -30px;
}

@media (max-width: 385px) {
  footer {
    font-size: var(--step--2);
  }
}

footer > main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

/* Footer Anmi */

.container2 {
  font-family: "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  display: grid;
  place-content: center;
  width: 400px;
}

.container2 input[type="radio"] {
  display: none;
}

.input-btn:is(:checked) + .neon-btn .span {
  inset: 2px;
  background-color: #4090b5;
  background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      #4090b5 1px,
      #4090b5 3px,
      #4090b5 5px,
      #4090b5 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      hsl(295, 60%, 12%) 100%,
      hsl(295, 60%, 12%) 100%
    );
  box-shadow: inset 0 40px 20px hsl(296, 59%, 10%);
}

.input-btn:is(:checked) + .neon-btn .txt {
  text-shadow: 2px 4px 1px #9e30a9, 2px 2px 1px #4090b5,
    0 0 20px rgba(255, 255, 255, 0.616);
  color: rgb(255, 255, 255);
  animation: colorchange 0.3s ease;
  -webkit-animation: colorchange 0.3s ease;
}

.input-btn:is(:checked) + .neon-btn::before {
  animation-duration: 0.6s;
}

.input-btn:is(:checked) + .neon-btn::after {
  animation-duration: 0.6s;
}

.neon-btn {
  width: 300px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 5em;
  text-align: right;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: all 2s ease-in-out;
  -webkit-clip-path: polygon(
    6% 0,
    93% 0,
    100% 8%,
    100% 86%,
    90% 89%,
    88% 100%,
    5% 100%,
    0% 85%
  );
  clip-path: polygon(
    6% 0,
    93% 0,
    100% 8%,
    100% 86%,
    90% 89%,
    88% 100%,
    5% 100%,
    0% 85%
  );
}

.neon-btn .span {
  display: flex;
  -webkit-clip-path: polygon(
    6% 0,
    93% 0,
    100% 8%,
    100% 86%,
    90% 89%,
    88% 100%,
    5% 100%,
    0% 85%
  );
  clip-path: polygon(
    6% 0,
    93% 0,
    100% 8%,
    100% 86%,
    90% 89%,
    88% 100%,
    5% 100%,
    0% 85%
  );
  position: absolute;
  inset: 1px;
  background-color: #212121;
  z-index: 1;
}

.neon-btn .txt {
  text-align: right;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  color: aliceblue;
  font-size: 1em;
  transition: all ease-in-out 2s linear;
  text-shadow: 0px 0px 1px #4090b5, 0px 0px 1px #9e30a9, 0 0 1px white;
}

.neon-btn::before {
  content: "";
  position: absolute;
  height: 300px;
  aspect-ratio: 1.5/1;
  box-shadow: -17px -19px 20px #9e30a9;
  background-image: conic-gradient(
    #9e30a9,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    #9e30a9
  );
  animation: rotate 4s linear infinite -2s;
}

.neon-btn::after {
  content: "";
  position: absolute;
  height: 300px;
  aspect-ratio: 1.5/1;
  box-shadow: -17px -19px 10px #4090b5;
  background-image: conic-gradient(
    #4090b5,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    #4090b5
  );
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes colorchange {
  0% {
    text-shadow: 0px 0px 0px #9e30a9, 0px 0px 0px #4090b5,
      0 0 0px rgba(255, 255, 255, 0.616);
  }

  50% {
    text-shadow: -6px 5px 1px #9e30a9, 5px 11px 1px #4090b5,
      0 0 20px rgba(255, 255, 255, 0.616);
  }

  to {
    text-shadow: 2px 4px 1px #9e30a9, 2px 2px 1px #4090b5,
      0 0 20px rgba(255, 255, 255, 0.616);
  }
}

@keyframes backgroundchange {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #4090b5;
  }

  to {
    background-color: transparent;
  }
}

@media (max-width: 769px) {
  footer > main {
    flex-direction: column;
    gap: 4px;
  }
  .contact .con .info * {
    font-size: inherit;
    width: inherit;
  }
}

footer > main p:last-of-type {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer > main p:last-of-type > span {
  font-size: var(--step-1);
}

/* Media To Very Small Screens  */

@media (max-width: 281px) {
  header main.header > p {
    font-size: 13px;
  }
  header main.header > div {
    font-size: 10px;
  }
  .projects .cards .card {
    width: 240px;
    margin: 0;
  }
  footer {
    font-size: 10px;
  }
}

/* todo  ============================  The All Project Page ============================ */

.body-2 {
  background-image: url(images/bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.header-back {
  padding: 20px;
  background-color: var(--main-color);
}

.header-back a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.projects-2 {
  padding: 4rem 0;
}
